<launch>

  <include file="$(find turtlebot_bringup)/launch/minimal.launch" />
  <node pkg="urg_node" type="urg_node" name="urg_node">
    <param name="serial_port" value="/dev/hokuyo"/>
    <param name="angle_min" value="-1.9"/>
    <param name="angle_max" value="1.9"/>
  </node>

  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" args="0 0 0 0 0 0 base_link laser 100" />

</launch>
